html{
    width: 100vw;
    height: 100vh;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(128, 209, 128);
    margin: 0;

}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 2.5rem 0;
}
button{
    font-size: 2rem;
    font-weight: bold;
    width: 200px;
    height: 200px;
    border: dashed 5px yellow;
    border-radius: 15%;
    background-color: aquamarine;
}

.results{
    display: flex;
    align-items: stretch;
    gap : 2rem;
    min-height: 35vh;
    max-width: 1000px;
    margin: auto;
}
.data{
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 10px 5px 25px grey;
    background-color: beige;
}

#output{
    width: 55%;
}
#player, #computer{
    flex : 1;
}
h2{
    color: aliceblue;
    text-shadow: 1px 2px 5px pink;
}
h3{
    color: rgb(202, 29, 29);
    margin: 0;
}
#output p{
    font-style: oblique;
    font-size: 1.4rem;
}
#player p, #computer p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    margin: 0;
    padding-top: 1rem;
}
footer{
    color: rgb(189, 189, 189);
    background-color: rgb(68, 138, 68);
    padding: 1rem;
    margin: 2rem 0 0 0;
}

.win{
    color: #1b9b1b;
    font-weight: 800;
    font-size: 3rem;
}
.lose{
    color: red;
    font-weight: bold;
    font-size: 3rem;
}